@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Website</h1>
    <img src="https://www.commonapp.org/static/0bbc15a2d5cce16e4b0d80ddb2ff7a9c/university-oklahoma_607.jpg" class="img-fluid" alt="OU Campus" />
    <h3>This is a website made to give resume like information about me</h3>
    <p>I am a 21 year old College senior attending OU, I am a dual major in MIS and Accounting,</p>
    <p>and once I graduate I will begin working on the accounting team at Matador Resources</p>
    <p>Built by Bryce Yates</a>.</p>
</div>

