
<div style="text-align: center;">
    <h1>Skills</h1>
    <p>Microsoft Office, 	Mathematics, 		Organized, 	Communication, 	Civility,</p>	          
    <p>Cost Allocation, 	Experience with Accounting Cycle, 	            Beginner Java Knowledge,</p>
    <p>High Initiative,     C# Knowledge, 	    Time Management, 			Adaptable,</p>
    <p>SQL, 			    ERD Drafting,		Teamwork	</p>
    </div>