
<div style="text-align: center;">
    <h1>Projects I am Proud of</h1>
    <p>While I havent had many projects in my time here at OU to reference, The one I am proud of was my database project
    I made with my team last semester in the Databases class
    <p>Another project I am pretty proud of is the second exam in this class, I had to learn a lot and dedicate myseld
        to really get it done and I thing it turned out great
    </p>
    </p>
</div>